.result-box {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px auto;
  }
  
  .orange {
    background-color: orange;
    color: white;
  }
  
  .green {
    background-color: green;
    color: white;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }
  
  .yellow {
    background-color: yellow;
    color: black;
  }
  
  .red {
    background-color: red;
    color: white;
  }
  
  .result-box1 {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px auto;
  }
  
  
  .orange {
    background-color: orange;
    color: white;
  }
  
  .green {
    background-color: green;
    color: white;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }
  
  .yellow {
    background-color: yellow;
    color: black;
  }
  
  .red {
    background-color: red;
    color: white;
  }
  